html {
    height: 100%;
}

body {
    text-align: center;
    word-wrap: break-word;
}

#banner {
    background-image: url(christian-kaindl-332935.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
}

#intro {
    color: white;
    padding: 5% 10% 20%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.9), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

#about h3 {
    margin-top: 5%;
}

.img-circle {
    border-radius: 50%;
    border: 2px solid grey;
    height: 250px;
    width: 250px;
}

.thumbnail img {
    height: 250px;
    width: 100%;
}

.proj div {
    border: 1px solid grey;
    border-radius: 2%;
}

.fa-linkedin-square {
    font-size: 30px;
}
